<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/ui/static/css/artist.css">
    <link type="image/png" sizes="16x16" rel="icon" href="{{.Image}}">
    <title>{{.Name}}</title>
</head>
<body>
    <div>
        <a href="http://127.0.0.1:4000/">
            <h1 style="color:black">
                Groupie-tracker
            </h1>
        </a>
        <img src="{{.Image}}"><br>
      
            <strong>{{.Name}}</strong><br>
            <hr class="hrNew">
        <strong>First Album: </strong>
        {{.FirstAlbum}}<br>
        <hr class="hrNew">
        <strong>CreationDate: </strong>
        {{.CreationDate}}<br>
        <hr class="hrNew">
        <strong> Members: </strong>
        {{range .Members}}
            {{.}}
        {{end}}<br>
        <hr class="hrNew">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Dates</th>
                </tr>
            </thead>
            <tbody>
                {{range $location, $date := .DatesLocation}}
                <tr>
                    <td><br>{{$location}}</td>
                    <td><br>{{range $date}}
                        {{.}}
                        <br>
                        {{end}}</td>
                        <br>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</body>
<footer><strong>
    <a href="https://01.alem.school/git/Aishagul">
         @Aishagul
    </a>
    <a href="https://01.alem.school/git/ctuzelov">
        @ctuzelov
    </a>
</strong>
</footer>
</html>